body {
    border-top: 2px solid #3ea9f5;
    border-bottom: 12px solid #3ea9f5;
}

.navbar {
    margin-bottom: 0;
}

#title {
    background-color: #3ea9f5;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 20px; /* same that a header */
    font-size: 24px;
    color: #fff;
}

a.external {
    color: #5bc0de; /* @brand-info */
}

#toc {
    float: right;
    margin-left: 10px;
}

#toc ul {
    padding-left: 15px;
}

#content .table {
    width: auto;
}

#content code {
    white-space: nowrap;
    background: inherit;
    padding: 0;
}

#content img {
    max-width: 100%;
    height: auto;
}

#page-nav {
    background-image: linear-gradient(to right, #f6f6f6 0%, #fff 8px);
}
#page-nav ul {
    padding-left: 0;
    margin: 5px 0;
    list-style: none;
    font-size: 20px;
}
#page-nav a {
    color: #000;
}
