<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    {% for page, label in menu %}
      <li><a href="{{ path('page', { page: page }) }}">{{ label }}</a></li>
    {% endfor %}
  </ul>
</div>
