{% extends 'base.html.twig' %}

{% block title page.title %}

{% block content %}
<div class="container">
  {% if page.toc %}
    {{ include('toc.html.twig', { toc: page.toc }, with_context = false) }}
  {% endif %}

  <div id="content">
    {{ page.content|raw }}
  </div>
</div>
{% endblock %}
