{% extends 'base.html.twig' %}

{% block title page.title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-14">
      {% block page_content %}
        {% if page.toc %}
          {{ include('toc.html.twig', { toc: page.toc }, with_context = false) }}
        {% endif %}

        <div id="content">
          {{ page.content|raw }}
        </div>
      {% endblock %}
    </div>
    <div id="page-nav" class="col-md-1">
      <ul>
        <li>
          <a href="{{ path('page_source', { path: page.name, _format: 'md' }) }}">
            <i class="fa fa-file-text"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
