body {
    border-top: 2px solid #3ea9f5;
    border-bottom: 12px solid #3ea9f5;
}

.navbar {
    margin-bottom: 0;
}

#title {
    background-color: #3ea9f5;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 24px;
    color: #fff;
}

a.external {
    color: #5bc0de; /* @brand-info */
}

#toc {
    float: right;
    margin-top: 20px; /* same that a header */
    margin-left: 10px;
}

#toc ul {
    padding-left: 15px;
}

#content > p:first-child {
    margin-top: 20px; /* same that a header */
}

#content .table {
    width: auto;
}

#content code {
    background: inherit;
    padding: 0;
}

#content img {
    max-width: 100%;
    height: auto;
}
