.navbar {
    margin-bottom: 0;
}

#title {
    background-color: #3ea9f5;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 24px;
    color: #fff;
}

a.external {
    color: #5bc0de; /* @brand-info */
}

#toc {
    float: right;
    margin-top: 20px; /* same that a header */
}

#toc ul {
    padding-left: 15px;
}

#content > p:first-child {
    margin-top: 20px; /* same that a header */
}

#content .table {
    width: auto;
}
